.main-logo{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.main-logo b{
    padding: 10px;
    font-size: larger;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 4%;
}

.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile img{
    margin-top: 20px;
}